.main{
    margin: 20px;
}
header{
    height: 60px;
    background: #2c3e50;
}
.left{
    width: 70%;
    height: auto;
    margin-right: 50px;
    float: left;
}
.left ul{
    column-count: 3;
    column-gap: 40px;
}
.left ul li{
    padding: 200px;
    border: 1px solid #ddd;
    margin-bottom: 40px;
}
.right{
    width: 20%;
    height: auto;
    background: #eee;
    padding: 15px;
    float: right;
    position: fixed;
    right: 0;
    top: 60px;
}
.right ul li{
    height: 200px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
footer{
    float: left;
    width: 100%;
    height: 100px;
    background: #2c3e50;
}